/* --- General --- */

p a {
  /* text-decoration: underline */
  color: #2196F3;
}
a {
  color: #2196F3;
}
a:hover,
a:focus {
  color: #0a6fc2;
}


::-moz-selection {
  background: #2196F3;
}
::selection {
  background: #2196F3;
}

.post-preview a:focus,
.post-preview a:hover {
  color: #2196F3;
}

.blog-tags a {
  color: #2196F3;
}

.blog-tags a:hover {
  color: #2196F3;
}

.pager li a:hover,
.pager li a:focus {
  background: #0A6FC2;
  border: 1px solid #0A6FC2;
}

